@CHARSET "UTF-8";
body {
margin:0;
font-family:arial;
}
#control {
margin:0px;	
padding:0;
}

#disasters {
margin:20px;	
}

#index {
border:1px solid #000;
}

#index td {
	
	padding:14px;
	padding-top:0px;
	padding-bottom:0px;
	}
	
#midcontainer {
	width:80%;
	}
	
	

#header {
	background:#43b83a;
	height:20%;
	color:#f1f1f1;
	width:1024px;
	font-size:150%;
	font-weight:bold;
	margin:0;
	padding:50px;
}
#left {
	background:#8ff187;
	width:25%;
	float:left;
	height:100%;
	position:absolute;
}
#middle {
	padding:20px;
	background:#ebebeb;
	position:absolute;
	width:50%;
height:94%;
	margin-left:321px;
	float:left;
}
#right {
	background:#8ff187;
	position:absolute;
	width:0%;
	height:100%;
	margin-left:1012px;
	float:left;
}

.view h1 {
	color:#43b83a;
	font-weight:bold;
	}
	
	.details {
	font-style:italic;
	font-size:90%;
	}
#map_canvas { height: 100% }