@CHARSET "UTF-8";
body {
	font-family:arial;
	background: url(../images/left.png) #dadada repeat-y -77px;
	margin: 0;
}
#topleft {
	background: url(../images/topleft.png) no-repeat bottom;
	width: 378px;
	float: left;
}
#header {
	background: url(../images/top.png) repeat-x bottom;
}
#header, #topleft {
	height: 120px;
}
#midcontainer {
	
	min-height: 500px;
	overflow: hidden;
}
#left, #middle {
	float: left;
	overflow: hidden;
}

#left {
	width: 215px;
	padding: 20px;
	color:#fafafa;
}
#middle {
	text-shadow:1px 1px 0px #fafafa;
	margin-left: 10px;
}
.bannertext {
	color: #fafafa;
	font-size: 250%;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
	padding-top: 20px;
}
#left a {
	text-decoration:none;
	font-weight:bold;
	color:#fff;
}
#left a:hover {
	text-decoration:underline;
}
#middle a {
	text-shadow:none;
	color:#a61015;
	text-decoration:none;
	font-weight:bold;
}

#middle a:hover {
	text-decoration:underline;
}

#index {
  border:1px solid #000;
}

#index td {
	padding:14px;
	padding-top:0px;
	padding-bottom:0px;
}
.view h1 {
	color:#a61015;
	font-weight:bold;
	text-shadow:1px 1px 0px #fff;
}
.details {
	font-style:italic;
	font-size:90%;
}
#map_canvas {
	height: 500px;
	width: 578px;
}
#add-incident #map_canvas {
	margin-left: 40px;
}
#edit-incident #map-label, #add-incident #map-label {
	margin-top: 0px;
}
#clock_in_out {
	margin-bottom: 20px;
}
#status_label {
	font-weight: bold;
}
#clock_in_out {
	margin-top: 5px;
	margin-left: 80px;
}
.messages {
	background: #ffe500;
	padding: 4px;
	padding-top: 1px;	
}