@CHARSET "UTF-8";
body {
margin:0;
font-family:arial;
background:#dadada;
}
#control {
margin:0px;	
padding:0;
}

#disasters {
margin:20px;	
}

#index {
border:1px solid #000;
}

#index td {
	
	padding:14px;
	padding-top:0px;
	padding-bottom:0px;
	}
	
#midcontainer {
	width:80%;
	}
	
	#topleft {
	background: url(../images/topleft.png) no-repeat bottom;
	width:500px;
	
		}
	
	.bannertext {
	color:#fafafa;
	font-size:150%;
	font-weight:bold;
	text-shadow:1px 1px 0px #000;
	}

#header {
	background: url(../images/top.png) repeat-x bottom;
	height:20%;
	width:800px;
	margin:0;
	padding:50px;
	margin-left:500px;
	margin-right:0;
}
#left {
	background: url(../images/left.png) repeat-y right;
	width:516px;
	float:left;
	height:100%;
	position:absolute;
	color:#fafafa;
}

#left a {
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	}
	
	#left a:hover {
	text-decoration:underline;
	}
	
#middle {
	text-shadow:1px 1px 0px #fafafa;
	padding:20px;
	background:#dadada;
	position:absolute;
	width:auto;
height:auto;
	margin-left:321px;
	float:left;
}

#middle a {
	text-shadow:none;
	color:#a61015;
	text-decoration:none;
	font-weight:bold;
	}

#middle a:hover {
	text-decoration:underline;
	}

.view h1 {
	color:#a61015;
	font-weight:bold;
	text-shadow:1px 1px 0px #fff;
	}
	
	.details {
	font-style:italic;
	font-size:90%;
	}
#map_canvas {
	height: 500px;
	width: 578px;
}
#login-label {
	height: 520px;
}
#add-incident #map_canvas {
	/*margin-top: -550px;/**/	
	margin-left: 40px;
}
#map-label {
	margin-top: -570px;
}